<mat-card class="border border-gray-300 bg-white rounded-lg shadow-sm mb-4 p-3 flex items-start">
    <mat-card-header class="flex flex-col items-center">
        <img mat-card-avatar [src]="'assets/images/' + internship.companyLogoUrl"
            alt="{{ internship.companyName }} Logo" class="w-20 h-20 rounded-sm mb-2" />
    </mat-card-header>

    <mat-card-content class="flex flex-col w-full">
        <div class="flex justify-between items-start">
            <div class="flex gap-4">
                <mat-card-title class="text-lg font-semibold text-rtb-dark-blue hover:text-rtb-gray cursor-pointer">
                    <a [routerLink]="['/internship', internship.id]">
                        {{ internship.title }}
                    </a>
                </mat-card-title>
                <p class="text-sm text-rtb-gray italic font-normal ml-4 p-2">
                    {{ getRelativeTime(internship.dateAdded) }}
                </p>
            </div>

            <div class="flex flex-row mx-2">
                <img [src]="isHeartClicked ? 'assets/icons/heart-red.svg' : 'assets/icons/heart.svg'"
                    class="w-7 h-7 cursor-pointer transition-colors duration-200" (mouseenter)="onMouseEnter()"
                    (mouseleave)="onMouseLeave()" (click)="toggleHeartColor()">
            </div>
        </div>

        <p class="text-sm text-gray-500 mt-2 mb-6">
            {{ internship.location }}
        </p>

        <div class="flex flex-wrap gap-2 mt-5 mb-3">
            <span *ngFor="let req of internship.requirements"
                class="bg-gray-100 text-gray-700 text-sm px-2 py-1 rounded-lg">
                {{ req }}
            </span>
        </div>

        <mat-divider class="my-3"></mat-divider>

        <div class="grid grid-cols-3 text-sm text-gray-700 mt-3">
            <p><strong>Starting date:</strong> {{ internship.startDate.toDateString() }}</p>
            <p><strong>Experience level:</strong> {{ internship.experience }}</p>
            <p>
                <strong>Deadline application:</strong>
                 <span
                    [ngClass]="{'text-red-500': isDeadlineApproaching(internship.applicationDeadline), 'text-gray-500': !isDeadlineApproaching(internship.applicationDeadline)}">
                    {{ internship.applicationDeadline.toDateString() }}</span>
            </p>
        </div>

        <div class="flex justify-between items-center mt-4">
            <p class="text-sm text-gray-500">
                Company: <span class="font-medium hover:text-slate-700"> <a [href]="internship.companyWebsite">{{
                        internship.companyName }} </a></span>
            </p>
        </div>
    </mat-card-content>
</mat-card>