<nav
  class="flex flex-col h-full items-center bg-rtb-black w-[6.625rem] hover:w-60 transition-all duration-300 pt-12 pb-6 px-6 fixed font-semibold z-40 overflow-y-auto no-scrollbar"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <a [routerLink]="'/dashboard'">
    <img src="/assets/images/logo-cut-removebg.png" class="w-16 h-18 pb-4" />
  </a>
  <ul class="list-none" *ngIf="managerView">
    <!-- My Profile Section -->
    <div class="nav-section">
      <p
        class="nav-section-title"
        [ngClass]="{
          'flex flex-col items-center justify-center': !isHovered
        }"
      >
        My Profile
      </p>
      <li>
        <a
          [routerLink]="'/profile'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/profile')
          }"
        >
          <img src="/assets/icons/customers-icon.svg" alt="profile icon" />
          <span *ngIf="isHovered">View Profile</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/cv'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/cv')
          }"
        >
          <img src="/assets/icons/cv-icon.svg" alt="CV icon" />
          <span *ngIf="isHovered">Update CV</span>
        </a>
      </li>
    </div>

    <!-- Internship Options Section -->
    <div class="nav-section">
      <p
        class="nav-section-title"
        [ngClass]="{
          'flex flex-col items-center justify-center pl-[0.65rem]': !isHovered
        }"
      >
        Internships
      </p>
      <li>
        <a
          [routerLink]="'/find-internships'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/find-internships')
          }"
        >
          <img src="/assets/icons/find-icon.svg" alt="find icon" />
          <span *ngIf="isHovered">Find Internships</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/applied-internships'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/applied-internships')
          }"
        >
          <img src="/assets/icons/sow-icon.svg" alt="applied icon" />
          <span *ngIf="isHovered">Applied Internships</span>
        </a>
      </li>
    </div>
  </ul>

  <!-- Settings Button -->
  <div
    class="mt-auto w-full flex items-center justify-center"
    [ngClass]="{
      'bg-gray-700 text-white w-8 h-8 rounded-md font-semibold cursor-pointer':
        !isHovered,
      'bg-gray-700 text-white w-full h-8 rounded-md font-semibold cursor-pointer':
        isHovered
    }"
  >
    <button
      type="button"
      [ngClass]="{
        'flex items-center justify-center w-8 h-8': !isHovered,
        'flex items-center justify-start w-full h-full': isHovered,
      }"
      class="bg-gray-700 text-white rounded-md font-semibold cursor-pointer"
    >
      <img
        src="/assets/icons/settings-icon.svg"
        alt="settings icon"
        [ngClass]="{
          'mx-auto': !isHovered,
          'active-link': isActive('/settings'),
          'pl-2': isHovered
        }"
      />
      <span
        *ngIf="isHovered"
        class="ml-2 pt-1"
        [ngClass]="{
          'flex flex-col items-center justify-center': !isHovered,
        }"
      >
        Settings
      </span>
    </button>
  </div>
</nav>
