<nav
  class="flex flex-col h-full items-center bg-rtb-black w-[6.625rem] hover:w-60 transition-all duration-300 pt-12 pb-6 px-6 fixed font-semibold z-40 overflow-y-auto no-scrollbar"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <a [routerLink]="'/dashboard'">
    <img src="/assets/images/logo-symbol.svg" class="w-8 h-12 pb-4" />
  </a>

  @if (managerView) {
  <ul class="list-none" *ngIf="managerView">
    <div class="nav-section">
      <p
        class="nav-section-title"
        [ngClass]="{
          'flex flex-col items-center justify-center': !isHovered
        }"
      >
        Customers
      </p>
      <li>
        <a
          [routerLink]="'/customers'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/customers')
          }"
        >
          <img src="/assets/icons/customers-icon.svg" alt="all icon" />
          <span *ngIf="isHovered">All Customer</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/addCustomers'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/addCustomers')
          }"
        >
          <img src="/assets/icons/add-customer-icon.svg" alt="add icon" />
          <span *ngIf="isHovered"> Add Customer </span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/ga'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/ga')
          }"
        >
          <img src="/assets/icons/ga-icon.svg" alt="GA icon" />
          <span *ngIf="isHovered">General Agreement</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/statement-of-work'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/statement-of-work')
          }"
        >
          <img src="/assets/icons/sow-icon.svg" alt="SoW icon" />
          <span *ngIf="isHovered">Statement of Work</span>
        </a>
      </li>
    </div>
    <div class="nav-section">
      <p
        class="nav-section-title"
        [ngClass]="{
          'flex flex-col items-center justify-center pl-[0.65rem]': !isHovered
        }"
      >
        Create Invoice
      </p>
      <li>
        <a
          [routerLink]="'/create-invoice'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/create-invoice')
          }"
        >
          <img src="/assets/icons/bill-icon.svg" alt="bill icon" />
          <span *ngIf="isHovered">Create Invoice</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/invoice-history'"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/invoice-history')
          }"
        >
          <img src="/assets/icons/tempo-icon.svg" alt="tempo icon" />
          <span *ngIf="isHovered">Invoice History</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/received-payments'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/received-payments')
          }"
        >
          <img src="/assets/icons/pending.svg" alt="pending icon" />
          <span *ngIf="isHovered">Received Payments</span>
        </a>
      </li>
    </div>
    <div class="nav-section">
      <p
        class="nav-section-title"
        [ngClass]="{
          'flex flex-col items-center justify-center': !isHovered
        }"
      >
        HR
      </p>
      <li>
        <a
          [routerLink]="'/people'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/people')
          }"
        >
          <img src="/assets/icons/people-icon.svg" alt="people icon" />
          <span *ngIf="isHovered">People</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/leaves'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/leaves')
          }"
        >
          <img src="/assets/icons/leaves-icon.svg" alt="leave icon" />
          <span *ngIf="isHovered">Leaves</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/cv'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/cv')
          }"
        >
          <img src="/assets/icons/cv-icon.svg" alt="CV icon" />
          <span *ngIf="isHovered">CV</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/organigram'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/organigram')
          }"
        >
          <img src="/assets/icons/evaluation-icon.svg" alt="evaluation icon" />
          <span *ngIf="isHovered">Organigram</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/my-evaluation'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/my-evaluation')
          }"
        >
          <img src="/assets/icons/sow.svg" alt="SoW icon" />
          <span *ngIf="isHovered">My Evaluations</span>
        </a>
      </li>
    </div>
  </ul>
  } @else {
  <ul>
    <div class="nav-section">
      <p class="nav-section-title">Profile</p>
      <li>
        <a
          [routerLink]="'/profile'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/profile')
          }"
        >
          <img src="/assets/icons/people-icon.svg" alt="profile icon" />
          <span *ngIf="isHovered">Profile</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/leave'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/leave')
          }"
        >
          <img src="/assets/icons/leaves-icon.svg" alt="leave icon" />
          <span *ngIf="isHovered">Leaves</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/cv2'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/cv2')
          }"
        >
          <img src="/assets/icons/cv-icon.svg" alt="CV icon" />
          <span *ngIf="isHovered">CV</span>
        </a>
      </li>
    </div>
    <div class="nav-section">
      <p class="nav-section-title">Internal</p>
      <li>
        <a
          [routerLink]="'/internal'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/internal')
          }"
        >
          <img src="/assets/icons/people-icon.svg" alt="people icon" />
          <span *ngIf="isHovered">People</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/people2'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/people2')
          }"
        >
          <img src="/assets/icons/evaluation-icon.svg" alt="evaluation icon" />
          <span *ngIf="isHovered">Organigram</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="'/my-evaluation'"
          routerLinkActive="active"
          [ngClass]="{
            'flex flex-col items-center justify-center': !isHovered,
            'active-link': isActive('/my-evaluation')
          }"
        >
          <img src="/assets/icons/sow.svg" alt="SoW icon" />
          <span *ngIf="isHovered">My Evaluations</span>
        </a>
      </li>
    </div>
  </ul>
  }
  <div
    class="mt-auto w-full flex items-center justify-center"
    [ngClass]="{
      'bg-gray-700 text-white w-8 h-8 rounded-md font-semibold cursor-pointer':
        !isHovered,
      'bg-gray-700 text-white w-full h-8 rounded-md font-semibold cursor-pointer':
        isHovered
    }"
  >
    <button
      type="button"
      [ngClass]="{
        'flex items-center justify-center w-8 h-8': !isHovered,
        'flex items-center justify-start w-full h-full': isHovered,
      }"
      class="bg-gray-700 text-white rounded-md font-semibold cursor-pointer"
    >
      <img
        src="/assets/icons/settings-icon.svg"
        alt="settings icon"
        [ngClass]="{
          'mx-auto': !isHovered,
          'active-link': isActive('/settings'),
          'pl-2': isHovered
        }"
      />
      <span
        *ngIf="isHovered"
        class="ml-2 pt-1"
        [ngClass]="{
          'flex flex-col items-center justify-center': !isHovered,
        }"
      >
        Settings
      </span>
    </button>
  </div>
</nav>
