@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@600&display=swap');

.user-information-card {
    width: 30rem;
    height: 28.5rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #E9EAEA;
    box-shadow: 0 0.25rem 0.25rem 0 #00000040;
    padding: 1.5rem;
    gap: 3rem;
    background-color:white;
    
    .header {
        width: 27.25rem;
        height: 4.4375rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

      .name-and-role {
        h2 {
            width: 21rem;
            height: 2.437rem;
            font-family: Yaldevi;
            font-weight: 600;
            font-size: 1.875rem;
            margin: 0;
        }
    
        h3 {
            width: 21rem;
            height: 1.75rem;
            font-family: Yaldevi;
            font-size: 1.125rem;
            line-height: 1.48rem;
            color: #7B7F83;
            margin: 0;
        }
    }
  
      .days-left {
       width: 5.875rem;
       height: 3.437rem;
       border-radius: 0.5rem;

       .days{
        width: 6.375rem;
        height: 2.437rem;
        display: flex;
        align-items: center;
        margin-left: 1.7rem;

        h2 {
            font-family: Yaldevi;
            font-weight: 700;
            font-size: 1.875rem;
            color: #00AEEF;
        }
        h3 {
            font-family: Yaldevi;
            font-weight: 500;
            font-size: 1.5rem;
            color: #232931;
        }
       }
        p {
          font-family: Yaldevi;
          font-weight: 500;
          font-size: 0.75rem;
          margin: 0;
        }
      }
    }
  
    .information-section {
        width: 13.625rem;
        height: 11.438rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 4rem; 
      
        .information {
          width: 17.625rem;
          height: 2.813rem;
          display: flex;
          flex-direction: column;
      
          p {
            font-family: Yaldevi;
            font-size: 1rem;
            font-weight: 600;
            color: #7B7F83;
            margin: 0;
          }
      
          h3 {
            font-family: Yaldevi;
            font-weight: 600;
            font-size: 1.125rem;
            color: #232931;
            margin: 0;
          }
        }
      }  
  }
  