<div class="w-[74rem] h-[28rem] font-['Yaldevi'] p-10">
  <button class="bg-rtb-blue text-white text-lg w-52 h-12 rounded-2xl mb-6">
      <div class="flex justify-center gap-2">
          Add Document
          <img
              class="w-4 h-4"
              [src]="'../assets/icons/add-document-icon.svg'"
              alt="Add Document Icon"
          />
      </div>
  </button>
  <table class="w-full h-auto border-light-gray gap-6">
      <thead class="bg-light-gray h-12">
        <tr class="text-rtb-black text-base">
          <th class="text-left pl-4">Contract Name</th>
          <th class="text-left">Date</th>
          <th class="text-right pr-6">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let document of getAllDocuments(); let i = index">
          <tr class="h-11 text-sm border-b-2">
            <td class="pl-4">
              <div class="flex items-center">
                <span>{{ document.name }}</span>
              </div>
            </td>
            <td>
              <div>
                  <span>{{ document.date | date : 'dd/MM/yyyy' }} </span>
              </div>
            </td>
            <td>
              <div class="flex justify-end pr-4 gap-1">
                <img
                  class="w-4 h-4"
                  [src]="'../assets/icons/Bin.svg'"
                  alt="Delete Icon"
                />
                <img
                  class="w-4 h-4"
                  [src]="'../assets/icons/eye.svg'"
                  alt="View Icon"
                />
                <img
                  class="w-4 h-4"
                  [src]="'../assets/icons/download.svg'"
                  alt="Download Icon"
                />
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>