@if(confirmation){
<div
  class="container grid gap-12 place-content-around"
  appDnd
  (fileDropped)="onFileDropped($event)"
>
  <input
    type="file"
    #fileInput
    id="fileDropRef"
    multiple
    (change)="fileBrowseHandler($event)"
    accept=".pdf, .doc, .docx"
    class="justify-center top-0 left-0 opacity-0 z-20"
  />
  <img src="assets/images/document-loader.svg" alt="Document Loader"/>

  <div class="flex gap-6 justify-center grid-cols-3">
    <button
      type="button"
      (click)="handleCancel()"
      class="bg-transparent text-rtb-gray border py-2.5 px-20 border-rtb-gray font-semibold hover:bg-rtb-light-gray hover:text-black rounded-lg text-lg"
    >
      Cancel
    </button>
    <button
      type="button"
      (click)="fileInput.click()"
      class="bg-rtb-blue text-white py-2.5 px-14 hover:bg-rtb-dark-blue rounded-lg text-lg"
    >
      Add Document
    </button>
  </div>
</div>
}