<div class="flex items-center justify-center mx-16 font-[Yaldevi] gap-6">
  <div class="text-center mx-16 ml-24">
    <h1 class="text-4xl font-bold text-red-600 mb-4">
      Oops! 404 - Page Not Found
    </h1>
    <p class="text-lg text-gray-700 ml-28 mb-6">
      It looks like this page is taking a coffee break, doens't exist or maybe
      it's under construction. <br />
      Either way, it's out of the office right now!
    </p>
    <p class="text-md text-gray-500 ml-28 mb-4">
      <span class="font-semibold">Joke of the Day:</span> Why did the project
      manager bring a ladder to the meeting? Because they heard the new goals
      were high!
    </p>
    <a
      href="/"
      class="inline-block text-lg bg-rtb-blue text-white py-5 px-6 mt-6 rounded-md"
      >Back to Homepage</a
    >
  </div>
  <img
    src="assets\gifs\404_not_found.gif"
    alt="not found image"
    class="m-auto w-96 h-96"
  />
</div>
