<div class="relative p-3 w-[34.5rem] h-[2.5rem] pl-6">
    <mat-progress-bar [value]="getProgressValue()"></mat-progress-bar>
    <app-check-icon [backgroundColor]="getIconColor(1)" class="absolute transform -translate-x-1/2 -translate-y-1/2"></app-check-icon>
    <app-check-icon [backgroundColor]="getIconColor(2)" class="absolute left-[50%] transform -translate-x-1/2 -translate-y-1/2"></app-check-icon>
    <app-check-icon [backgroundColor]="getIconColor(3)" class="absolute left-[100%] transform -translate-x-1/2 -translate-y-1/2"></app-check-icon>
</div>
<div class="flex justify-between items-end w-[36.5rem] h-[2.35rem] pl-2 text-[1rem] font-[450] leading-5">
    <div class="flex w-[8.6rem] gap-2 items-center">
        <img class="w-[1.75rem] h-[2.1rem]" [src]="'../assets/icons/ga.svg'" alt="General Data Image">
        <div>General Data</div>
    </div>
    <div *ngIf="step > 3; else addressBlock" class="flex w-[8.6rem] gap-2 items-center">
        <img class="w-[1.75rem] h-[2.1rem]" [src]="'../assets/icons/invoice-bill.svg'" alt="Billing Details Image">
        <div>Billing Details</div>
    </div>
    <ng-template #addressBlock>
        <div class="flex w-[8.6rem] gap-2 items-center">
            <img class="w-[1.75rem] h-[2.1rem]" [src]="'../assets/icons/location-icon.svg'" alt="Address Image">
            <div>Address</div>
        </div>
    </ng-template>
    <div class="flex w-[8.6rem] gap-2 items-center">
        <img class="w-[1.75rem] h-[2.1rem]" [src]="'../assets/icons/document.svg'" alt="Documents Image">
        <div>Documents</div>
    </div>
</div>