<div>
  <div class="flex justify-between mb-4 font-[Yaldevi] my-3 mx-auto">
    <div class="text-4xl font-semibold">All Customers</div>
    <div>
      <button
        class="text-white w-56 h-14 px-4 py-2 rounded-lg bg-rtb-blue text-lg ml-auto"
        [routerLink]="'/addCustomers'"
      >
        <div class="flex justify-center gap-2">
          <div class="self-center">
            <img src="/assets/icons/add-icon.svg" alt="" />
          </div>
          <div class="self-center">Add new customer</div>
        </div>
      </button>
    </div>
  </div>
  <app-customers-table></app-customers-table>
</div>
